section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}

.my-picture {
    margin-left: 10%;
    width: 38vh;
    height: 38vh;
    margin-right: 10%;
    border-radius: 360px;
}

/* First section */
.one {
    background-color: black;
    background-image: url('../images/background-first.jpg');
    background-size: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border: 3px solid white;
}

.first-title {
    border-radius: 8px;
    text-align: center;
    background-color: black;
    margin-left: 14%;
}

/* Second section */

.two {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 0, 0);
    color: rgb(253, 253, 253);
    border: 3px solid white;
}

.second-title {
    margin: auto;
}

h4 {
    font-size: 1.5vh;
    letter-spacing: 2px;
    text-indent: 3vh;
}

.text-container {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    width: 50vh;
    margin: auto;
    background-color: white;
    color: black;
    text-align:justify;
    padding: 10px;
}

/* Third section */

.three {
    background-color: black;
    border: 3px solid white;
}

/* Fourth section */

.four {
    border: 3px solid white;
    background-color: black;
    color: white;
}

.five {
    color: white;
    background-color: black;
    border: 3px solid white;
}